*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #000;
}
.news {
    margin: 0 auto;
    width: 85vw;
    border: 2px solid #fff;
    position: relative;
}
.list {
    position: relative;
    list-style:none;
    top:1.01vw;
}

.list li {
    margin: 0.926vw;
    text-align: center;
    width: 25.926vw;
    border: 1px solid rgb(233,233,233);
    list-style:none;
    position: absolute;
}
.list li img{
    padding: 0.926vw 0.463vw 0.463vw 0.463vw;
    width: 24.074vw;
}
.list li h4{
    font-size: 1.667vw;
}
.list li p{
    padding-top: 1.389vw;
    padding-bottom: 0.926vw;
    font-size: 1.111vw;
    line-height: 1.8;
    color: #777371;
}
.list li h4,.list li p{
    text-align: left;
    padding-left: 0.926vw;
}
#load {
    visibility: hidden;
}